body{
  background-color: blue;
  color: white;
  font-size: 50px;
  
}.header {
font-size: 80px;

}.rock-button {
  background-color: blue;
  border-style: solid;
  border-color: white;
  border-radius: 75px;
  margin-left: 30px;
  padding: 15px;

}.rock-button-img {
background-color: black;
border-radius: 50px ;
  width: 100px;

}.paper-button {
  background-color: blue;
  border-style: solid;
  border-color: white;
  border-radius: 75px;
  margin-left: 50px;
  padding: 15px;

}.paper-button-img {
  background-color: black;
border-radius: 50px ;
  width: 100px;

}.scissors-button {
  background-color: blue;
  border-style: solid;
  border-color: white;
  border-radius: 75px;
  margin-left: 30px;
  padding: 15px;
  

}.scissors-button-img {
  background-color: black;
border-radius: 50px ;
  width: 100px;
  
}.reset-score {
  font-size: 30px;
  background-color: white;
  border: none;

}.auto-play {
  font-size: 30px;
  background-color: white;
  border: none;}
